$left-padding: 0px;
$top-padding: 0px;

.btn, .btn:active, .btn:focus {
  outline: none;
}

body {
  overflow: hidden;
}

body *{
  font-family: 'Manrope', sans-serif;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: none;
}

.app {
  position: relative;
  min-height: 100vh;
  height: 100%;
  padding-top: $top-padding;
  padding-left: $left-padding;

  #portal-root{
    z-index: 1000;
  }
}
