$color-primary-hover: #7044cd;

.modal {
  &_body-upload {
    height: 336px;
    border: 6px dashed #8355e2;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 25px;
  }

  &_body-image {
    height: 336px;
    padding: 0;
    margin: 1rem;
  }

  &_btn-save {
    width: 150px;
    height: 40px;
    background: #8355e2;
    border-radius: 4px;
    font-family: Manrope, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #edeef4;
  }
  &_btn-save:hover {
    background-color: $color-primary-hover;
  }

  &_btn-cancel {
    width: 150px;
    height: 40px;
    background: none;
    color: #8355e2;
    border: 1px solid #8355e2;
    box-sizing: border-box;
    border-radius: 4px;
  }

  &_btn-delete {
    background: none;
    width: 200px;
    height: 40px;
    border: 1px solid #eb5757;
    box-sizing: border-box;
    border-radius: 4px;
    color: #eb5757;
  }

  &_image-upload {
    &_span {
      font-size: 28px;
      line-height: 24px;
      color: #666666;
    }

    &_delete-icon {
      position: absolute;
      right: 15px;
      top: 13px;
    }

    &_preview {
      width: 100%;
      max-height: -webkit-fill-available;
    }
  }
}
