.react-tel-input {
  position: relative;
}

.flag-dropdown.open {
  position: absolute;
  width: 300px;
  height: 500px;
  overflow: auto;
  z-index: 5000;
  background-color: #fff;
  padding-top: 10px;
}

.country-list {
  list-style-type: none;
  padding-left: 0;

  li {
    padding-left: 10px;
    cursor: pointer;
    padding-bottom: 5px;

    &:last-child{
      margin-bottom: 0;
    }

    &:hover {
      background-color: #eee;
    }

    .country-name {
      margin-right: 10px;
    }
  }
}
