@import '../../../assets/styles/colors';

.layout {
  border: 1px solid #DADADA;
  border-radius: 8px;
  width: 352px;
  background-color: rgb(255, 255, 255);
  padding: 17px 25px 25px;
  &-header {
    position: relative;
    // height: 75px;
    margin-bottom: 10px;
    .layout-close +div {
      position: relative;
      &:after {
        content: "";
        position: absolute;
        bottom: -11px;
        left: 0;
        width: 100%;
        height: 1px;
        border-bottom: 2px solid $color-grey-3;

      }
      .radio {
        justify-content: center;
        font-style: normal;
        color: $color-grey-5;
        input:checked {
          &+.radio-custom+.radio-text {
            color: $color-primary;
          }
        }
        &-custom {
          border-radius: 0;
          position: relative;
          &:after {
            content: none;
          }
        }
      }
    }
    .d-flex {
      margin-right: 20px;
      &>.mr-2 {
        flex-grow: 1;
        flex-basis: 0;
      }
    }
    .d-flex>div:nth-child(1) {
      margin-right: 20px;
      .radio-custom {
        background: url("../../../assets/components/modal-layout/img/guest.svg") no-repeat;
        background-size: contain;
        border: none;
      }
      .radio {
        input:checked {
          &+.radio-custom {
            background: url("../../../assets/components/modal-layout/img/guest-active.svg") no-repeat;
            &:after {
              content: "";
              position: absolute;
              top: auto;
              bottom: -17px;
              left: -9px;
              width: 140px;
              height: 1px;
              border-bottom: 2px solid $color-primary;
              z-index: 1;
            }
          }
        }
      }
    }
    .d-flex>div:nth-child(2) {
      .radio-custom {
        background: url("../../../assets/components/modal-layout/img/business.svg") no-repeat;
        background-size: contain;
        border: none;
      }
      .radio {
        input:checked {
          &+.radio-custom {
            background: url("../../../assets/components/modal-layout/img/business-active.svg") no-repeat;
            &:after {
              content: "";
              position: absolute;
              top: auto;
              bottom: -17px;
              left: -9px;
              width: 140px;
              height: 1px;
              border-bottom: 2px solid $color-primary;
              z-index: 1;
            }
          }
        }
      }
    }

  }
  .btn:not(.btn-link) {
    margin: 15px 0 8px;
    padding: 7px;
    z-index: 1;
  }
  .btn-link {
      padding: 0;
      font-size: 12px;
      line-height: 18px;
      margin: 0;
      text-align: center;
    }
  &-close.btn {
    position: absolute;
    top: -24px;
    right: -8px;
    width: auto;
  }

}
.social-links {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  li {
    flex-grow: 1;
    text-align: center;
    a {
      display: block;
      &:hover {
        svg {
          fill: $color-primary-hover;
        }
      }
    }
  }
  svg {      
    fill: $color-primary;
  }
}
.modal {
  &__title {
    margin: 13px 0 18px;
    text-align: center;
    color: $color-black2;
  }
}
.privacy {
  font-size: 12px;
  line-height: 1.5;
  color: $color-black2;
  text-align: center;
  a {
    text-decoration: none;
    color: $color-primary;
    &:hover {
      text-decoration: underline;
    }
  }
}