
.app .address-input {
  &-wrap {
    position: relative;

    input {
      padding: 4px 32px 4px 8px;
    }

    &:before {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      top: 8px;
      right: 10px;
      border-left: 2px solid #666;
      border-bottom: 2px solid #666;
      transform: rotate(-45deg);
    }

    &:after {
      content: "";
      position: absolute;
      width: 1px;
      height: 22px;
      top: 50%;
      transform: translate(0, -50%);
      right: 32px;
      background-color: #DADADA;
    }

    &.active {
      &:before {
        transform: rotate(135deg);
        top: 14px;
      }
    }
  }
}
.address-list{
  padding: 0;
  list-style-type: none;
  background: #EDEEF4;
  border: 1px solid #DADADA;
  border-radius: 0px 0px 3px 3px;
  li{
    cursor: pointer;
    padding: 4px 8px;
    &+li {
      border-top: 1px solid #DADADA;
    }
    
    &:hover{
      background-color: #F0F2FD;
    }
  }
}