
.main-tabs {
  max-width: 1400px;
  margin: 15px auto 0;
  padding-left: 65px;
  text-align: center;
  & .tabs-header {
    margin-bottom: 5px;
  }
}
.tabs-center{
  justify-content: center;
}

.tabs-header-item.active.list-group-item {
  color: #8355E2;
}

.tabs-header.tabs-center.list-group .tabs-header-item.list-group-item {
  padding: 7px 0 3px;
  margin: 0 30px 15px;
}

.rating-answer__body-item .btn.btn-with-icon {
  padding: 3px 5px;
}

.answers__my-tasks .select__dropdown li {
  cursor: pointer;
}

.answers__all-time .select__dropdown li {
  cursor: pointer;
}

.nav-line__item.nav-line__select-questions .select__dropdown li {
  cursor: pointer;
}