.answer-text{
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 16px;
  font-weight: normal;
  height: 54px;
  padding: 12px;
  margin: 8px 12px;
  background: #FFFFFF;
  // box-shadow: 0px 7px 40px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  cursor: pointer;
  &__icon{
    width: 30px;
    height: 30px;
    background: #8355E2;
    border-radius: 6px;
    text-align: center;
    line-height: 32px;
    &.no-check-color{
      background-color: #EEEEEE;
    }
  }
  & span{
    margin-left: 16px;
  }
}
.cols3{
  width: calc((100% - 72px) / 3);
}
.cols1{
  width: 420px;
}