@import '../../../styles/styles';

.datepicker-label {
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  color: $color-black;
}

.react-datepicker-wrapper {
  width: 100%;

  .datepicker-trigger {
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 5px;
      right: 31px;
      width: 1px;
      height: calc(100% - 10px);
      background-color: $color-grey-border;
    }

    &__icon {
      width: 18px;
      height: 20px;
      position: absolute;
      left: 8px;
      top: 5px;
      fill: $color-grey-dark;
    }

    &__input {
      padding-left: 32px;
      padding-right: 32px;
    }

    .arrow {
      position: absolute;
      top: -3px;
      right: 16px;

      &:after {
        border-color: $color-grey-dark;
      }
    }
  }
}

