.preview-panel {
  &_button {
    width: 32px;
    height: 32px;
    border: 1px solid #DADADA!important;
    cursor: pointer;
    background-color: #EDEEF4;
    color: #666666;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
  }

  &_card {
    width:100%;
    height: 350px;
    background: transparent;
    border-radius: 8px;
    align-items: center;
    margin-bottom: 0!important;
    display: flex;

  }

  &_button-preview {
    border-width: 0;
    width: 110px;
  }

  &_action-group-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  &_scrollbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 70px);
    overflow-y: scroll;
  }

  &_card-element {
    height: calc(100vh - 166px);
    width: 100%;
  }

}

.image-card {
  &_wrapper {
    width: 90%;
    margin-bottom: 50px;
  }

  &_header {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 19px;
  }

  &_container {
    position: relative;
    max-height: 184px;
    width: 100%;
    height: 150px;
    margin: 235px 0 0 0;
    margin-bottom: 240px;
  }

  &_card-element {
    display: flex;
    align-items: center;
    border: 2px dashed #FFFFFF;
    box-sizing: border-box;
    border-radius: 8px;
    height: 560px;
  }

  &_preview {
    border-radius: 8px;
    width: -webkit-fill-available;
    position: absolute;
    max-height: 180px;
  }
}

#containerElement::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}


#containerElement::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

#containerElement::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

#containerElement::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom: 41px;
  position: absolute;
  top: 82%;
  left: 92.5%;
}
