.outline-group {
  &-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 4px;
  }

  &-content {
    border: 1px solid #DADADA;
    border-radius: 8px;
    padding: 20px;
  }
}
