.check-text {
  &__wrapper {
    width: 100%;
  }
  &__item {
    padding: 12px;
    margin-bottom: 12px;
    width: 100%;
  }
  &__label {
    position: relative;
    padding-left: 46px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    & input {
      display: none;
    }
    & > div {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 30px;
      height: 30px;
      background-color: #EEEEEE;
      border-radius: 6px;
    }
    & span {
      font-family: 'Gilroy', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 136%;
      color: #161616;
    }
  }
}


.check-white-text {
  width: 100%;
  & .check-text__item {
    background-color: #ffffff;
    box-shadow: 0px 7px 40px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
  }
}

.check-transparent-text {
  .check-text__item {
    border: 1.5px solid #FFFFFF;
    backdrop-filter: blur(15px);
    border-radius: 10px;
  }
  & .check-text__label span {
    color: #FFFFFF;
  }
}

// .check-transparent-text {
//   width: 100%;
//   & .check-text {
//     &__wrapper {
//       width: 100%;
//     }
//     &__item {
//       padding: 12px;
//       margin-bottom: 12px;
//       width: 100%;
//       border: 1.5px solid #FFFFFF;
//       backdrop-filter: blur(15px);
//       border-radius: 10px;
//     }
//     &__label {
//       position: relative;
//       padding-left: 46px;
//       display: flex;
//       align-items: center;
//       justify-content: flex-start;
//       & input {
//         display: none;
//       }
//       & > div {
//         position: absolute;
//         top: 50%;
//         left: 0;
//         transform: translateY(-50%);
//         width: 30px;
//         height: 30px;
//         background-color: #EEEEEE;
//         border-radius: 6px;
//       }
//       & span {
//         font-family: 'Gilroy', sans-serif;
//         font-style: normal;
//         font-weight: 500;
//         font-size: 16px;
//         line-height: 136%;
//         color: #FFFFFF;
//       }
//     }
//   }
// }

.check-text__container {
  width: 100%;
  max-width: 335px;
}

.app .check-text__label {
  margin: 0;
}

.check-image {
  &__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    margin: 0 4px 12px ;
    // width: 100%;
    max-width: 160px;
    border-radius: 10px;
  }
  &__image-wrapper {
    & img {
      width: 100%;
      border-radius: 10px 10px 0 0;
      object-fit: contain;
    }
    &_empty {
      width: 100%;
      height: 142px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #C7C1D2;
      border-radius: 10px 10px 0 0;
      & img {
        width: auto;
      }
    }
  }
  &__content {
    padding: 14px;
    height: 61px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0px 7px 40px rgba(0, 0, 0, 0.08);
    border-radius: 0 0 10px 10px;
  }
  &__text {
    margin: 0;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 132%;
  }
}

.check-white-image {
  & .check-image__content {
    background-color: #ffffff;
  }
  & .check-image__text {
    color: #151617;
  }
}

.check-transparent-image {
  & .check-image__image-wrapper_empty {
    background: #333333;
    opacity: 0.5;
    backdrop-filter: blur(10px);
  }
  & .check-image__item {
    margin-bottom: 12px;
    width: 100%;
    max-width: 160px;
    border-radius: 10px;
    border: 1.5px solid #FFFFFF;
  }
  & .check-image__content {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
  }
  & .check-image__text {
    color: #FFFFFF;
  }
}

.check-image-lg {
  &__item {
    position: relative;
    margin-bottom: 36px;
    width: 100%;
    & > img {
      border-radius: 10px;
    }
  }
  &__icon {
    position: absolute;
    right: 12px;
    bottom: 12px;
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(131, 85, 226, 0.8);
    border-radius: 8px;
    & img {
      border-radius: 10px;
    }
  }
}

.check-image-lg__container {
  width: 100%;
}
