.editable {
  position: relative;
  // width: 300px;

  label{
    width: 100%;

    input{
      width: 100%;
      padding-right: 46px;
    }
  }

  &-controls {
    position: absolute;
    right: 0;
    bottom: 14px;
    .btn-icon {
      margin-right: 8px;
      outline: none;
      margin-top: -5px;
      &:focus {
        box-shadow: none !important;
      }
    }
  }

  input:disabled {
    font-style: normal;
    font-weight: 300;
    padding-right: 33px;
    text-overflow: ellipsis;
  }

}
