@import '../../../styles/styles';

.app {
    .toggler {
        position: relative;
        width: 32px;
        height: 16px;
        // margin: 12px 10px 5px;
        input {
            visibility: hidden;
            &:checked + span {
                &:before {
                    background: #FE6799;
                }
                &:after {
                    left: 16px;
                    background: #FE6799;
                    background: radial-gradient(50% 50% at 50% 50%, #FF856E 0%, #FF6B9B 100%);
                    box-shadow: 1px 1px 4px rgba(153, 8, 56, 0.41);
                }
            }
        }
        span {
            position: absolute;
            top: 0;
            left: 0;
            width: 32px;
            height: 16px;
            &:before {
                content: "";
                position: absolute;
                top: 5px;
                left: 0;
                height: 8px;
                width: 32px;
                transition: all 0.4s ease;
                background: #DADADA;
                border-radius: 19px;
            }
            &:after {
                content: "";
                display: block;
                width: 16px;
                height: 16px;
                cursor: pointer;
                position: absolute;
                top: 0;
                z-index: 1;
                left: 0;
                border-radius: 50px;
                transition: all 0.4s ease;
                background: #666666;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
            }
        }
    }
}
