.label-checkbox{
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 20px !important;
  height: 20px;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 1 !important;
  cursor: pointer;
  & span{
  }
}