@import '../../styles/styles';
.tooltips {
  display: inline-block;
  &-icon {
    position: relative;
    width: 9px;
    z-index: 1;
  }
  &-question {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 14px;
    font-size: 12px;
    line-height: 1;
    color: $color-white;
    background: $color-primary;
    border-radius: 50%;
    margin-left: 2px;
    cursor: pointer;
  }

  &-content {
    position: absolute;
    top: 21px;
    right: -12px;
    z-index: 20;
    padding: 2px 9px;
    font-style: italic;
    font-weight: 300;
    font-size: 12px;
    line-height: 2;
    color: #000000;
    background: $color-grey-1;
    border: 1px solid $color-grey-border;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    min-width: 300px;
    &:after {
      content: "";
      position: absolute;
      top: -5px;
      right: 6px;
      width: 10px;
      height: 10px;
      background:  $color-grey-1;
      border-top: 1px solid $color-grey-border;
      border-left: 1px solid $color-grey-border;
      transform: rotate(45deg);
      z-index: 21;
    }
    &--left {
      right: auto;
      left: -10px;
      &:after {
        right: auto;
        left: 13px;
      }
    }
  }
}
