.answer-image{
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.08);
  border: 1px solid #e6e6e6;
  //border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  cursor: pointer;
  &__img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 155px;
    background-color: rgba(0, 0, 0, 0.15);
    // background-color: rgba(170, 83, 83, 0.08);
    border-radius: 8px 8px 0px 0px;
    overflow: hidden;
  }
  &__icon{
    position: absolute;
    top: -10px;
    left: -10px;
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 30px;
    background-color: #8355E2;
    border-radius: 50%;
    z-index: 10;
  }
  &__title{
    color: #161616;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
  }
  &_check{
    border: 2px solid #8355E2;
    & .answer-image__img {
      position: relative;
      //&::after {
      //  content: '';
      //  position: absolute;
      //  top: 0;
      //  left: 0;
      //  width: 100%;
      //  height: 100%;
      //  background-color: rgba(255, 255, 255, 0.25);
      //}
    }
  }
}
.cols-img-6{
  width: calc((100% - 144px) / 6);
  margin: 12px;
}
.cols-img-4{
  width: calc((100% - 96px) / 4);
  margin: 12px;
}
.cols-img-3{
  width: calc((100% - 72px) / 3);
  margin: 12px;
}
