<head>
    <style> body { margin: 0; } </style>

    <script src="http://unpkg.com/3d-force-graph"></script>
    <script src="http://cdn.rawgit.com/neo4j/neo4j-javascript-driver/1.4.1/lib/browser/neo4j-web.min.js"></script>
    <!--<script src="../../dist/3d-force-graph.js"></script>-->
</head>

<body>
  <div id="3d-graph"></div>

    <script>
        const driver = neo4j.v1.driver("bolt://3.127.184.120:9001", neo4j.v1.auth.basic("neo4j", "Wq9dbhY9LZS8pW52"),
                                       {encrypted: false});
        const session = driver.session();
        const start = new Date()
        session
          .run('MATCH (boss:Employee {str_employee_id: "F_003"})-[:EMPLOYEES_NEXT_LEVEL*1..2]->(other:Employee) RETURN id(boss) as source, id(other) as target LIMIT $limit', {limit: 5000})
          .then(function (result) {
              console.log(result);
            const links = result.records.map(r => { return {source:r.get('source').toNumber(), target:r.get('target').toNumber()}});
            session.close();
            console.log(links.length+" links loaded in "+(new Date()-start)+" ms.")
            const ids = new Set()
            links.forEach(l => {ids.add(l.source);ids.add(l.target);});
            const gData = { nodes: Array.from(ids).map(id => {return {id:id}}), links: links}
            const Graph = ForceGraph3D()(document.getElementById('3d-graph')).graphData(gData);
          })
          .catch(function (error) {
            console.log(error);
          });
    </script>

{#    <script>#}
{#        const driver = neo4j.v1.driver("bolt+routing://90bfd895.databases.neo4j.io", neo4j.v1.auth.basic("got", "got"),#}
{#                                       {encrypted: true});#}
{#        const session = driver.session();#}
{#        const start = new Date()#}
{#        session#}
{#          .run('MATCH (n)-->(m) RETURN id(n) as source, id(m) as target LIMIT $limit', {limit: 5000})#}
{#          .then(function (result) {#}
{#            const links = result.records.map(r => { return {source:r.get('source').toNumber(), target:r.get('target').toNumber()}});#}
{#            session.close();#}
{#            console.log(links.length+" links loaded in "+(new Date()-start)+" ms.")#}
{#            const ids = new Set()#}
{#            links.forEach(l => {ids.add(l.source);ids.add(l.target);});#}
{#            const gData = { nodes: Array.from(ids).map(id => {return {id:id}}), links: links}#}
{#            const Graph = ForceGraph3D()(document.getElementById('3d-graph')).graphData(gData);#}
{#          })#}
{#          .catch(function (error) {#}
{#            console.log(error);#}
{#          });#}
{#    </script>#}

{#  <script>#}
{#    // Random tree#}
{#    const N = 300;#}
{#    const gData = {#}
{#      nodes: [...Array(N).keys()].map(i => ({ id: i })),#}
{#      links: [...Array(N).keys()]#}
{#        .filter(id => id)#}
{#        .map(id => ({#}
{#          source: id,#}
{#          target: Math.round(Math.random() * (id-1))#}
{#        }))#}
{#    };#}
{##}
{#    const Graph = ForceGraph3D()#}
{#      (document.getElementById('3d-graph'))#}
{#        .graphData(gData);#}
{#  </script>#}
</body>
