.progress-block{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  margin-left: 40px;
  max-width: 40%;
  font-size: 19px;
  &__line{
    flex-grow: 1;
    min-width: 50px;
    height: 12px;
    margin-right: 15px;
    background-color: rgba(175, 175, 175, .4);
    border-radius: 6px;
    overflow: hidden;
    &-done{
      height: 100%;
      width: 50%;
      background-color: #8355E2;
      border-radius: 6px;
    }
  }
  &__text{
  }
}