@import '../../assets/styles/colors';

$animation-duration: 0.5s;

.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 56px;
  background-color: $color-primary-2;
  padding: 71px 8px 0;
  display: flex;
  align-items: center;
  z-index: 5;
  transition: width $animation-duration;

  &-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &-list {
    list-style-type: none;
    padding: 0;

    &-item {
      margin-bottom: 15px;
      height: 40px;
      border-radius: 4px;
      background-color: $color-primary;
      &:last-child {
        margin-bottom: 0;
      }

      a {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 6px;
        // font-size: 14px;
        font-size: 16px;

        color: $color-white;

        &:hover {
          text-decoration: none;
          color: $color-white;
        }
      }
    }
  }

  &-toggle {
    background: url('images/Union.png') no-repeat left center;
    background-size: cover;
    width: 20px;
    height: 103px;
    display: flex;
    align-items: center;
    position: absolute;
    right: -28px;
    top: 218px;

    button {
      background: transparent;
      width: 100%;
      height: 64px;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        img {
          transition: transform $animation-duration;
        }
      }

      &:focus {
        box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
        outline: 0;
      }
    }
  }
}
