.content{
  width: 100%;
  // height: calc(100vh - 56px);
  height: calc(100vh);
  //overflow: auto;
  padding: 57px 0 10px 0;
  // padding-left: 75px;
}

.main-container-style {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
}
