.dropdown-toggle::after {
  display: none;
}

.btn-primary {
  padding: 0;
}

.dropdown {
  box-shadow: none !important;
}

.dropdown button {
  display: flex !important;
  box-shadow: none !important;
}

.drop-down-body {
  width: 217px;
  background: #edeef4;
  border: 1px solid #dadada;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.dropdown-toggle {
  background: none !important;
  border: none !important;
}

.drop-down-menu-item {
  padding: 0 !important;
  margin: 8px 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px !important;
  line-height: 24px;
  display: flex;
  width: 100%;
  background: none !important;
  border: none !important;
  color: #000000;
}

.drop-down-menu-item:hover {
  color: #000000 !important;
}
.drop-down-menu-item:focus {
  color: #000000 !important;
  box-shadow: none !important;
}
