.card-constructor {
  background-color: #ffffff;
  padding: 15px 0;
  border-radius: 8px;
}

.create-card-buttons-panel {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
}

.card-image-preview-wrapper {
  height: 100px;
  position: relative;
  border-radius: 4px;
  margin-top: 15px;
  overflow: hidden;
}

.card-image-preview {
  width: 100%;
  position: absolute;
  max-width: -webkit-fill-available;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.delete-image-preview-btn {
  position: absolute;
  right: 10px;
  top: 10px;
}

.create-card-panel-header {
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.card-constructor:hover {
  border: 2px solid #8355e2;
}

.preview-panel {
  background: #FFFFFF;
}

.scrollbar {
  //margin-left: 30px;
  float: left;
  height: calc(100vh - 70px);
  width: 65px;
  background: #FFFFFF;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  cursor:pointer;
}

#style-4::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

#style-4::-webkit-scrollbar-track {
  cursor: pointer !important;
  box-shadow: -3px 0px 4px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
}

#style-4::-webkit-scrollbar {
  width: 6px;
  cursor: pointer !important;
  background-color: #FFFFFF;
}

#style-4::-webkit-scrollbar-thumb {
  cursor: pointer !important;
  box-shadow: -3px 0px 4px rgba(0, 0, 0, 0.1);
  background-color: #8355e2;
}

.card-body {
  height: 100%;
  background-color: #EDEEF4;
}

.container-check {
  width: 20px !important;
  height: 20px;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 0 !important;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 11px;
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  border: 3px solid #8355e2;
  border-radius: 2px;
}

.container-check input:checked ~ .checkmark {
  background-color: #8355e2;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-check .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.settings-constructor-type-separator {
  width: 74px;
  height: 0;
  border: 1px dashed #8355E2;
  transform: rotate(-90deg);
}

.points-left-label {
  width: max-content!important;
  margin-right: 8px;
  margin-bottom: 0!important;
}

.constructor-type-text {
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.image-constructor-add-card-container {
  display: flex;
  align-items: center;
  padding-left: 15px;
  height: 62px;
  background: #FFFFFF;
  border-radius: 8px;
  width: 100%;
}

.add-image-button:focus {
  outline: 0;
  box-shadow: none;
}

.img-constuctor-add-card-label {
  padding-left: 7px;
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.input-file-upload {
  height: 62px;
  background: #FCFCFC !important;
  border: 2px dashed #8355E2 !important;
  box-sizing: border-box;
  border-radius: 4px !important;
}

.input-file-button-imitation {
  background: #8355E2;
  border-radius: 4px;
  width: 185px;
  height: 32px;
  color: #EDEEF4;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.input-file-right-text {
  font-size: 14px;
  line-height: 16px;
}

input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
  &:focus {
    outline: none;
  }
}

.left-panel::-webkit-scrollbar {
  width:0 !important;
}

.left-panel {
  height: calc(100vh - 70px);
  overflow: auto;
  padding-left: 10px;

}

.opened-left-panel {
  width: 20%;
}

@media(max-width: 1200px) {
  .opened-left-panel {
    width: 25%;
  }
}

.test-mode-toggle {
  width: 106px;
}

.close-image{
  margin-bottom: 5px;
}

#placeholder-color::placeholder {
  color: #333333;
  opacity: 1;
  font-size: 14px;
  font-style: normal;
}

.full-status-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 96px;
  background: #FFFFFF;
  box-shadow: 0px -6px 40px rgba(0, 0, 0, 0.08);
  border-radius: 14px 14px 0 0;
}

.full-status-content {
  padding: 20px 30px 0 30px;
}

.status-btn-container {
  margin-top: 16px;
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  width: 100%;
}

.full-btn-preview {
  width: 12px;
  height: 32px;
  border-radius: 4px;
}

.full-btn-preview {
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), rgba(255, 255, 255, 0.65);
  border: 1px solid #666666;
  box-sizing: border-box;
  border-radius: 4px;
  width: 127px;

}

.preview-panel-btn {
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), rgba(255, 255, 255, 0.65);
  border: 1px solid #666666;
  border-radius: 3px;
  transform: rotate(-180deg);
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.second-prev-btn {
  margin-right: 0 !important;
}

.full-btn-prev-text {
  font-family: Manrope, sans-serif;
  color: #666666;
  font-weight: bold;
  font-size: 14px;
}

.header-line-container {
  width: 100%;
  display: flex;
  align-items: center;
  height: 8px;
}

.header-line-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.require-property {
  align-self: flex-end;
}

.photo-attach {
  margin-bottom: 4px;
}

.answer-time {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  justify-content: flex-start;
  justify-self: flex-start;
}

.time-container {
  width: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-style: italic;
}

.time-image {
  margin-right: 6px;
  margin-bottom: 4px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

  opacity: 1;

}
