.text-input-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  & input{
    padding-right: 40px;
  }
}
.search-button{
  margin-left: -42px;
  width: 32px;
  text-align: center;
  border-left: 1px solid #DADADA; 
}

