@import '../../styles/styles';

.app {
    label {
        width: 100%;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.71;
        color: $color-black;
        margin-bottom: 10px;
        span {
            display: block;
        }
    }
    input {
        width: 100%;
        height: 32px;
        padding: 5px 8px;
        background: $color-grey-1;
        border: 1px solid $color-grey-border;
        border-radius: 3px;
        // font-size: 16px;
        line-height: 1.5;
        outline: none;
        &::placeholder {
            font-style: normal;
            font-weight: 300;
            opacity: 0.5;
        }
        &:focus {
            border-color: $color-primary;
            box-shadow: none;
        }
        &:-internal-autofill-selected  {
            background-color: #EDEEF4!important;
        }
        &:-webkit-autofill-selected {
            background-color: #EDEEF4!important;

        }
    }
    .form-control {
        height: auto;
    }
    .flag-dropdown.open {
        width: 100%;
    }
    .flag-dropdown .arrow {
        position: relative;
        &:after {
            top: -22px;
            transform: rotate(-45deg);
        }
    }
    .flag-dropdown.open .arrow:after {
        transform: rotate(135deg);
    }
    .react-datepicker {
        border-color: $color-grey-border;
        &__day-names {
            text-transform: capitalize;
            font-weight: 600;
        }
        &__day-name {
            &:nth-child(6),
            &:nth-child(7) {
                color: $color-secondary-2;
            }
        }
        &__current-month {
            text-align: left;
            text-transform: capitalize;
            padding: 0 60px 5px 14px;
        }
        &__header {
            background-color: transparent;
            border-bottom: none;
        }
        &__day--selected {
            background-color: $color-primary;
        }
        &__navigation {
            top: 14px;
            border: none;
            border-left: 2px solid #8355E2;
            border-bottom: 2px solid #8355E2;
            opacity: 0.5;
            &:hover {
                opacity: 1;
            }
            &--previous {
                left: auto;
                right: 40px;
                transform: rotate(45deg);
            }
            &--next {
                transform: rotate(-135deg);
            }
        }
        &__day--outside-month {
            color: $color-grey-border;
        }
    }
    .react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range {
        border-radius: 2px;
    }
    .react-datepicker__day:hover, .react-datepicker__month-text:hover, .react-datepicker__quarter-text:hover {
        border-radius: 2px;
    }
    .react-datepicker__day--selected:hover, .react-datepicker__day--in-selecting-range:hover, .react-datepicker__day--in-range:hover, .react-datepicker__month-text--selected:hover, .react-datepicker__month-text--in-selecting-range:hover, .react-datepicker__month-text--in-range:hover, .react-datepicker__quarter-text--selected:hover, .react-datepicker__quarter-text--in-selecting-range:hover, .react-datepicker__quarter-text--in-range:hover {
        background-color: $color-primary-2;
    }
}
.error {
    font-style: italic;
    font-weight: 300;
    font-size: 12px;
    line-height: 2;
    color: #B60202;

}
.file-input {
    &__text {
        margin-bottom: 10px;
    }
    // &__value {

    // }
    &__hidden {
        display: none;
    }
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 140px;
        height: 90px;
        background: #FFFFFF;
        border: 2px dashed #8355E2;
        border-radius: 8px;
        font-size: 18px;
        color: #8355E2;
    }
}
.error {
    display: none;
}
.input-error {
    background: rgba(182, 2, 2, 0.1);
}
.error.active {
    display: block;
}
