@import '../../../styles/styles';

.app {
  .tabs-header {
    flex-direction: initial;
    position: relative;
    margin-bottom: 25px;
    font-weight: bold;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      // background: $color-grey-3;
      background: #EDEEF4;
    }
    &-item {
      position: relative;
      color: $color-black2;
      opacity: 0.3;
      padding: 7px 30px;
      margin: 0;
      border: none;
      background-color: transparent;
      cursor: pointer;
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background: $color-primary;
        transition: 0.3s;
      }
      &.active {
        opacity: 1;
        color: $color-black2;
        background-color: transparent;
        border-color: transparent;
        &:after {
          width: 100%;
          
        }
      }
    }
  }
}
