.single-select-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  & label > div{
    padding-left: 40px;
  }
  &__left-btn{
    margin-right: -42px;
    width: 32px;
    text-align: center;
    // border-right: 1px solid #DADADA; 
    z-index: 10;
  }
}

