@import '../../styles/styles';

.app {
    .card {
        height: 100%;
        border-radius: 4px;
        border: 1px solid $color-grey-border;
        &-header {
            padding: 9px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            background: transparent;
            &__favorite {
                cursor: pointer;
                transition: transform 0.3s;
                &:hover {
                    transform: scale(1.2);
                }
            }
        }
        &-content {
            padding: 10px 12px 0;
            font-weight: 300;
            font-size: 12px;
            line-height: 1.17;
            &__title {
                font-weight: 500;
                font-size: 14px;
                line-height: 1.71;
                margin-bottom: 10px;
            }
            &__body {
                display: flex;
                margin-bottom: 8px;
                p {
                    margin: 0;
                }
            }
        }
        &__icon {
            display: inline-block;
            width: 18px;
            margin-right: 8px;
            svg {
                fill: $color-primary;
                margin: auto;
                display: block;
            }
        }
        &-footer {
            display: flex;
            align-items: center;
            padding: 0 12px 22px;
            border: none;
            background: transparent;
        }
        &__dates {
            display: flex;
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
        }
        &__date {
            padding: 0 6px;
            font-size: 10px;
            line-height: 2;
            color: $color-white;
            background: $color-primary;
            border: 1px solid $color-grey-border;
            border-radius: 4px;
            &+.card__date {
                margin-left: 5px;
            }
        }
        &-slider {
            position: relative;
            margin-bottom: auto;
            &--seen {
                display: none;
            }
        }
        &--seen {
            background: $color-grey-2;
            .card-slider--seen {
                display: block;
                position: absolute;
                top: 8px;
                right: 7px;
                padding: 0 9px;
                font-size: 12px;
                line-height: 1.7;
                color: $color-white;
                background: rgba(132, 85, 226, 0.8);
                border-radius: 8px;
                text-align: center;
            }
        }
    }
}

//indicator
.indicator {
    position: relative;
    &__icon {
        position: relative;
        top: -6px;
        left: 2px;
        &--new {
            color: #04B500;
            font-size: 10px;
            line-height: 24px;
        }
    }
}
