
.without-main-img {
  //display: flex;
  //flex-direction: column;
  //justify-content: space-between;
  //align-items: stretch;
  //line-height: 1.2;
  //min-height: calc(100vh - 125px);
  //height: calc(100vh - 125px);
  //overflow: hidden;
  color: #161616;
  font-weight: 500;
  text-align: left;
  background-color: #fff;
  //border: 1px solid #444;
  &__container{
    width: 100%;
    //max-width: 1280px;
    // margin: auto 15px;
    margin: auto;
    padding: 0 30px;
  }
  &__header {
    &-left{
      display: flex;
      justify-content: start;
      align-items: center;
      height: 120px;
      & span{
        margin-left: 15px;
        font-size: 26px;
      }
    }
    &-right{
      display: flex;
      justify-content: end;
      align-items: center;
      & span{
        margin-left: 15px;
        font-size: 18px;
        font-weight: 400;
      }
    }
    &-icon{
      width: 50px;
      height: 50px;
      line-height: 51px;
      text-align: center;
      background-color: #FFFFFF;
      box-shadow: 0px 7.49537px 28px rgba(0, 0, 0, 0.09);
      border-radius: 50%;
    }
    &-img{
      margin-left: 75px;
    }
  }
  &__title{
    font-size: 40px;
    font-weight: 500;
    line-height: 1.1;
  }
  &__description{
    font-size: 20px;
    margin-bottom: 25px;
  }
  &__hint{
    font-size: 16px;
    // font-weight: 500;
    // color: #666666;
    font-weight: 400;
    color: #CCCAD9;
    margin-bottom: 10px;
  }
  &__scroll{
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar{
      width: 6px;
      height: 6px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &:hover{
      // &::-webkit-scrollbar{
      // }
      &::-webkit-scrollbar-thumb {
        background-color: #8355E2;
      }
      &::-webkit-scrollbar-track {
      background-color: rgba(255, 255, 255, .4);
      box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.1);
      }
    }
  }
  &__answers{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -12px;
    padding: 5px 0 25px;
    & .answer-image {
      min-width: 175px;
      width: 172px;
      height: 227px;
    }
  }
  &__answers-img{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
    & .answer-image {
      min-width: 178px;
      width: 172px;
      height: 226px;
    }
  }
  &__footer{
    position: fixed;
    top: calc(100% - 116px);
    z-index: 5;
    flex-shrink: 0;
    width: 100%;
    height: 116px;
    background: #fff;
    //box-shadow: 0px -4px 40px rgba(0, 0, 0, 0.08);
    // &-btns{
    // }
    &-pages{
      font-size: 19px;
    }

  }
  &__btn-back {
    @extend %without-main-img__btn;
    color: #666666 !important;
    border: 2px solid #666666 !important;
    transition: all .2s;
    &:hover{
      color: #ffffff !important;
      border-color: #8355E2 !important;
    }
    & span{
      margin-left: 5px;
    }
  }

  &__btn-next{
    @extend %without-main-img__btn;
    & span{
      margin-right: 5px;
    }
  }
  // &__container {
  //   &.survey-type2 {
  //     & .survey-type2 {
  //       overflow: auto;
  //       &__main-img {
  //         margin-bottom: 25px;
  //         min-height: 269px;
  //       }
  //       &__content {
  //         padding-left: 0;
  //       }
  //       &__img img {
  //         max-width: calc(100% - 500px);
  //       }
  //     }
  //   }
  // }
  &__container {
    &.survey-type2 {
      overflow: auto;
      &__img {
        padding: 0;
        & img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }
}

.flex-block{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

%without-main-img__btn {
  width: 152px;
  height: 52px;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
  border-radius: 10px !important;
}

.bg-grey{
  background-color: #E1E1E1;
}

.no-limit-height{
  height: auto;
}

@media screen and (max-width: 992px) {
  .without-main-img {
    &__answers .answer-text {
      min-width: 280px;
    }
    &__header-icon {
      min-width: 50px;
      min-height: 50px;
    }
    &__container {
      padding: 0 20px;
      &.survey-type2 {
        flex-direction: column;
        overflow: auto;
        &__content {
          padding-left: 0;
        }
        & .survey-type2__content {
          padding: 20px 0 0 0;
          width: 100%;
          & .without-main-img__answers {
            margin: 0;
            width: 100%;
            justify-content: flex-start;
          }
          & .answer-text {
            margin: 8px 12px;
            max-width: 45%;
          }
        }
      }
      & .without-main-img__answers-img {
        justify-content: center;
      }
    }

  }
  .survey-type3__left {
    display: none;
  }
}

@media screen and (max-width: 677px) {
  .without-main-img {
    &__title {
      margin-bottom: 16px;
      font-size: 24px;
      line-height: 24px;
    }
    &__description {
      margin-bottom: 22px;
      font-size: 17px;
      line-height: 136%;
    }
    &__hint {
      font-size: 15px;
      line-height: 132%;
    }
    &__header-left {
      margin: 20px 0 34px 0;
      height: auto;
      & span {
        margin-left: 0;
        font-size: 22px;
        line-height: 24px;
      }
    }
    &__header-icon {
      display: none;
    }
    &__answers .answer-text {
      // margin-left: auto;
      // margin-right: auto;
      min-width: auto;
      width: 100%;
      min-height: 54px;
      height: auto;
      &__icon {
        min-width: 30px;
      }
    }
    &__container {
      justify-content: space-between;
      & .answer-image {
        margin: 12px 3px;
        min-width: 157px;
      }
      &.survey-type2 {
        & .survey-type2__content {
          & .without-main-img__answers {
            padding: 0;
          }
          & .answer-text {
            margin: 8px 0;
            max-width: 100%;
          }
        }
      }
    }
    &__header-right {
      display: none;
    }
    &__footer {
      border-radius: 14px 14px 0px 0px;
      & .without-main-img__container.flex-block {
        padding: 0 20px;
      }
      & .progress-block {
        margin: 0 16px 0 0;
        flex-direction: column-reverse;
        align-items: flex-start;
        &__text {
          margin-bottom: 6px;
        }
        &__line {
          margin: 0;
          width: 100%;
        }
      }
      &-btns {
        order: 1;
      }
    }
    &__btn-back {
      margin-right: 8px;
      width: 50px;
      height: 50px;
      & span {
        display: none;
      }
    }
    &__btn-next {
      margin: 0;
      width: 126px;
      height: 50px;
    }
  }
}



@media screen and (max-width: 420px) {
  .survey-type2__main-img {
    width: 375px;
  }
}


.btn-back-second {
  @extend %without-main-img__btn;
  color: #FFFFFF !important;
  border: 2px solid #FFFFFF !important;
  transition: all .2s;
  &:hover{
    color: #ffffff !important;
    border-color: #8355E2 !important;
  }
  & span{
    margin-left: 5px;
  }
}
