@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');
.completing-survey{
  font-family: 'Rubik', sans-serif !important;
  & .main-tabs{
    // max-width: none;
    padding: 0;
  }
}