.file-type-card{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;  
  background: #FFFFFF;
  // box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  margin: 12px;
  cursor: pointer;
  &__img{
    padding: 25px 0;
  }
  &__title{
    font-weight: 500;
    font-size: 18px;
    color: #666666;
  }
  &__count{
    position: absolute;
    top: 35px;
    right: 35px;
    width: 27px;
    height: 27px;
    color: #ffffff;
    background-color: #8355E2;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
  }
}