@import '../../styles/styles';

.app {
    .btn {
        padding: 3px 10px;
        border-radius: 4px;
        font-size: 16px;
        line-height: 1.5;
        outline: none;
        &-icon{
            padding: 0;
            margin: 0;
            border: none;
        }
        &.disabled, &:disabled {
            cursor: default;
        }
        &:focus{
            outline: none;
        }
    }
    .btn-primary {
        background: $color-primary;
        border-color: $color-primary;
        &:hover {
            background-color: $color-primary-hover;
            border-color: $color-primary-hover;
        }
        &:focus {
            background: $color-primary;
            border-color: $color-grey-border;
            box-shadow: none;
        }
        &:not(:disabled):not(.disabled):active,
        &:not(:disabled):not(.disabled).active,
        .show > &.dropdown-toggle {
            background-color: $color-primary-hover;
            border-color: $color-primary-hover;
        }
        &:not(:disabled):not(.disabled):active:focus,
        &:not(:disabled):not(.disabled).active:focus {
            box-shadow: none;
        }
        &.disabled, &:disabled {
            background-color: $color-primary-2;
            border-color: $color-primary-2;
            &:hover {
                background-color: $color-primary-2;
                border-color: $color-primary-2;
            }
        }
    }
    .show > .btn-primary.dropdown-toggle:focus {
        box-shadow: none;
    }
    .btn-outline-primary {
        color: $color-primary;
        border-color: $color-primary;
        &:hover {
            color: $color-white;
            background: $color-primary;
            border-color: $color-primary;
            svg {
                fill: #fff;
                color: #fff;
            }
        }
        &:focus {
            // color: $color-white;
            // border-color: $color-grey-border;
            box-shadow: none;
        }
        &:not(:disabled):not(.disabled):active,
        &:not(:disabled):not(.disabled).active {
            color: $color-white;
            background-color: $color-primary-hover;
            border-color: $color-primary;
        }
        &:not(:disabled):not(.disabled):active:focus,
        &:not(:disabled):not(.disabled).active:focus  {
            border-color: $color-grey-border;
            box-shadow: none;
        }
        &.disabled, &:disabled {
            color: $color-grey-4;
            border-color: $color-grey-4;
            &:hover {
                color: $color-grey-4;
                border-color: $color-grey-4;
                background: transparent;
                svg {
                    fill: #fff;
                    color: #fff;
                }
            }
        }
    }
    .btn-icon-border {
        background: #FFFFFF;
        border: 1px solid #8355E2;
        border-radius: 3px;
        svg {
            fill: #8355E2;
            color: #8355E2;
        }
        // FontAwesomeIcon {
        //     fill: #8355E2;
        //     color: #8355E2 !important;
        // }
        &:hover {
            color: $color-white;
            background: $color-primary;
                border-color: $color-primary;
            svg {
                fill: #fff;
                color: #fff;
            }
            // FontAwesomeIcon {
            //     fill: #fff;
            //     color: #fff !important;
            // }
        }
        &:focus {
            color: $color-white;
            border-color: $color-grey-border;
            box-shadow: none;
        }
        &:not(:disabled):not(.disabled):active,
        &:not(:disabled):not(.disabled).active {
            color: $color-white;
            background-color: $color-primary-hover;
            border-color: $color-primary;
        }
        &:not(:disabled):not(.disabled):active:focus,
        &:not(:disabled):not(.disabled).active:focus  {
            border-color: $color-grey-border;
            box-shadow: none;
        }
        &.disabled, &:disabled {
            color: $color-grey-4;
            border-color: $color-grey-4;
            svg {
                fill: $color-grey-4;
            }
            &:hover {
                color: $color-grey-4;
                border-color: $color-grey-4;
                background: transparent;
            }
        }
    }
    .show > .btn-outline-primary.dropdown-toggle {
        color: $color-white;
        background-color: $color-primary-hover;
        border-color: $color-primary;
    }
    .btn-block {
        width: 100%;
    }
    .btn-link {
        color: $color-primary;
        &:hover {
            color: $color-primary-hover-dark;
            text-decoration: none;
        }
        &--dashed {
            display: inline;
            width: auto;
            text-align: center;
            color: $color-black2;
            position: relative;
            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                border-bottom: 1px dashed $color-primary;
            }
            &:hover {
                color: $color-primary;
                &:after {
                    border-color: transparent;
                }
            }
        }
        &.disabled, &:disabled {
            color: $color-grey-4;
        }
    }

}
