.pagination{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  width: auto;
  font-size: 14px;
  & input{
    // width: auto;
    // width: auto;
    width: 50px;
    min-width: 5px;
    height: auto;
    border: none;
    line-height: 1;
    padding: 2px 5px;
    margin-right: 6px;
    // -moz-appearance: textfield;
    // &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
    //   -webkit-appearance: none;
    //   margin: 0;
    // }
  }
  & span{
    padding: 0 10px;
  }
  & svg{
    cursor: pointer;
  }
}