@import '../../styles/styles';

.app {
    .table {
        border: none;
        font-size: 14px;
        line-height: 1.71;
        thead {
            color: $color-white;
            background: $color-primary;
            text-align: center;
            line-height: 1;
        }
        th {
            padding: 8px 20px;
            border: 1px solid $color-white;
        }
        td {
            padding: 8px 20px;
            border: 1px solid $color-white;
        }
        tbody tr:nth-of-type(odd) {
            background-color: $color-grey-1;
        }
    }
}