.modal-sign {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(33, 33, 33, 0.5);

  button {
    &:focus {
      outline: none;
    }
  }

  p {
    margin: 0;
  }

  &__inner {
    position: relative;
    padding: 25px;
    width: 100%;
    max-width: 352px;
    background-color: #fff;
    border-radius: 8px;
    opacity: 1;
  }

  &__title {
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #313337;
    margin-bottom: 30px;
  }

  &__social {
    margin: 0 auto 15px;
    width: calc(248 / 302 * 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 28px;
      height: 28px;
      background-color: #9063ed;
      border-radius: 50%;
      cursor: pointer;

      &.fb {
        background-color: #435d98;
      }

      &.vk {
        background-color: #5181b8;
      }

      &.google {
        background-color: #db4639;
      }

      &.linkedin {
        background-color: #0084c2;
      }

      &.yandex {
        background-color: #df0000;
      }

      &.mail {
        background-color: #fda944;
      }
    }
  }

  &__or {
    font-size: 12px;
    line-height: 16px;
    color: #c7c1d2;
    text-align: center;
  }

  &__form {
    width: 100%;
  }

  &__input {
    &-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 30px !important;
      }

      & label {
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        color: #313337;
      }

      & input {
        padding: 8px 12px;
        width: 100%;
        font-size: 14px;
        line-height: 19px;
        color: #6d6877;
        background-color: #ffffff;
        border: 1px solid #e7e6e9;
        border-radius: 4px;

        &:focus {
          outline-color: #9063ed;
        }

        &::placeholder {
          font-size: 14px;
          line-height: 19px;
          color: #c7c1d2;
        }
      }
    }

    &-group {
      display: flex;
      align-items: center;
      width: 100%;
    }
  }

  &__flag {
    margin-right: 5px;
    padding: 8px;
    border: 1px solid #e7e6e9;
    border-radius: 4px;
    display: flex;
    align-items: center;

    & span {
      margin-left: 5px;
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      color: #313337;
    }
  }

  &__prove {
    margin-top: 10px;
    padding: 8px;
    width: 100%;
    font-size: 12px;
    line-height: 16px;
    color: #6d6877;
    background-color: #f7f3fe;
    border-radius: 4px;
    margin-bottom: 25px;
  }

  &__policy {
    padding-top: 15px;
    font-size: 12px;
    line-height: 18px;
    color: #c7c1d2;
    text-align: center;
  }

  &__text {
    font-size: 12px;
    line-height: 16px;
    color: #313337;
    text-align: center;

    &_no-account {
      margin-bottom: 0;
    }

    & button {
      margin-left: 5px;
    }

    &__avatar {
      margin: 0 auto;
      width: 64px;
      height: 64px;
      background-color: rgba(144, 99, 237, 0.2);
      border-radius: 50%;
    }

    &__info {
      margin-top: 24px;
      font-weight: 500;
      font-size: 14px;
      line-height: 19px;
      text-align: center;
      color: #313337;
    }
  }

  &__forgot {
    font-size: 12px;
    line-height: 16px;
    color: #7f7692;
    margin: 0 auto;
  }

  &__button {
    padding: 10px;
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #ffffff;
    background-color: #9063ed;
    border: none;
    border-radius: 4px;

    &.reg {
      margin-bottom: 15px;
    }

    &_link {
      padding: 0;
      background-color: transparent;
      border: none;
      color: #9063ed;
    }
  }

  &__close {
    position: absolute;
    top: -16px;
    right: -16px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
    border: none;

    img {
      width: 24px;
      height: 24px;
    }
  }

  &__errors {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
}

.birthday-field {
  width: 100%;
  position: relative;
  margin-top: 8px;
  margin-bottom: 0 !important;

  &__icon {
    position: absolute;
    right: 10px;
    top: 6px;
    z-index: 1;
  }

  input[type='date']::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: -20px;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
    z-index: 2;
  }
}
