@import "../../assets/styles/colors";

.app {
  .notifications-numeral {
    &-parent {
      position: relative;
    }
    position: absolute;
    top: -3px;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    font-size: 10px;
    // line-height: 24px;
    color: $color-white;
    background: $color-primary;
    border-radius: 50%;
  }
  .arrow {
    position: relative;
    cursor: pointer;
    &:after {
      content: "";
      position: absolute;
      top: 8px;
      right: 8px;
      width: 8px;
      height: 8px;
      border-left: 2px solid $color-primary;
      border-bottom: 2px solid $color-primary;
    }
    &-bottom {
      transform: rotate(-45deg);
    }
  }
  .header {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    padding: 0 15px;
    height: 56px;
    background-color: $color-white;
    box-shadow: 2px 3px 8px $color-black-opacity15;
    z-index: 10;
    &-constructor {
      margin-left: 7%;
    }
    &-company {
      .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
          color: $color-black;
        }
      }
    }
    &-user {
      align-items: center;
      a {
        padding: 16px 6px;
        color: $color-primary;
        &:hover {
          text-decoration: none;
        }
      }
      button {
        margin-right: 12px;
      }
    }
    &-city {
      display: flex;
      align-items: center;
      padding: 0 15px;
      svg {
        fill: $color-grey-dark;
        margin-right: 4px;
      }
    }
    &-phone {
      display: flex;
      align-items: center;
      padding: 17px 15px 16px;
      text-decoration: none;
      a {
        color: $color-black;
      }
      svg {
        fill: $color-grey-dark;
        margin-right: 4px;
      }
    }
    &-messages {
      cursor: pointer;
      padding: 16px 12px;
      height: 100%;
      .notifications-numeral {
        top: 13px;
        right: 5px;
      }
    }
    &-notifications {
      cursor: pointer;
      padding: 16px 12px;
      height: 100%;
      .notifications-numeral {
        top: 13px;
        right: 5px;
      }
    }
    &-rating {
      padding: 7px 7px 7px 10px;
      text-decoration: none;
      &__num {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.33;
        color: $color-primary;
      }
      &__info {
        display: flex;
        align-items: center;
        font-size: 12px;
        line-height: 1;

        .hint {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 9px;
          height: 9px;
          font-size: 8px;
          line-height: 1;
          color: $color-white;
          background: $color-primary;
          border-radius: 50%;
          margin-left: 2px;
          cursor: default;
        }
      }
    }
    &-info {
      display: flex;
      align-items: center;
      background: $color-grey-1;
      border: 1px solid $color-grey-border;
      border-radius: 4px;
      margin-right: 8px;
      &__logo {
        padding-left: 10px;
        padding-right: 7px;
      }
      &__name {
        font-size: 16px;
        line-height: 1;
      }
      &__id {
        font-weight: 300;
        font-size: 12px;
        line-height: 1;
        color: $color-grey-4;
      }
      &__more {
        width: 27px;
        height: 30px;
        padding: 16px 13px;
      }
    }
    &-language {
      display: flex;
      align-items: center;
      &__logo {
        margin-right: 3px;
      }
      &__arrow {
        top: 4px;
        right: 2px;
        width: 7px;
        height: 30px;
        padding: 16px 13px;
        &:after {
          width: 6px;
          height: 6px;
          border-color: $color-grey-dark;
        }
      }
    }
  }
}

.modal-link-footer {
  display: flex;
  flex-direction: row;
  justify-content: center !important;
}

.fb-icon {
  margin: 0 45px !important;
}

.modal-body-custom {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.modal-input {
  max-width: 378px;
  width: 100%;
  &_label {
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 2px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }
}

.modal-header {
  border-bottom: none !important;
  padding-bottom: 0!important;
  padding-top: 10px!important;
}

.modal-footer {
  border-top: 0 !important;
}
.qr-modal {
  align-items: center !important;
  justify-content: center;
  height: 250px !important;
}

.dropdown-btn {
  box-shadow: none !important;
}

.dropdown-btn button {
  box-shadow: none !important;
}

.dropdown-item {
  border-bottom: 1px solid #DADADA;
  padding: 8px 6px !important;
}

.dropdown-item.active, .dropdown-item:active{
  background-color: transparent !important;
}

.dropdown-item {
  width: 228px !important;
}

.item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 12px;
  color: #666666;
}

.item-container:hover {
  color: #8355E2;
}

.dropdown-menu.show {
  left: 0 !important;
}

.my-profile-image {
    width: 13px;
    height: 13px;
    margin-right: 7px;
}

.item-text {
  font-size: 14px;
}

