@import '../../../assets/styles/colors';

// .wrap {
//   max-width: 1168px;
//   margin: 0 auto;
//   padding: 0 60px;
// }

.results {
  //text-align: center;
  // &__title{
  //   font-size: 24px;
  // }
}
