.survey-type1{
  &__main-img{
    display: inline-block;
    width: auto;
    background: #E9E9E9;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    & img{
      min-height: 300px;
      max-height: 450px;
      max-width: 100%;
    }
  }
}

.blur-answers {
  backdrop-filter: blur(15px);
  background-color: transparent !important;
  border: 1.5px solid #FFFFFF;
  color: #FFFFFF;
}

.background {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.5) 94.37%);
}

.image-blur {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.25);
  border: 1.5px solid #FFFFFF;
  color: #FFFFFF;
}

.image-blur-active {
  border: 2.14px solid #8154DE;
}

.image-blur-img {
  opacity: 0.5;
  background: #333333;
}
