@import '../../styles/styles';

.app {
    .carousel-control-prev, 
    .carousel-control-next {
        background: transparent;
        border: none;
        opacity: 0.7;
    }
    .carousel-control-prev-icon, 
    .carousel-control-next-icon {
        box-shadow: -3px -3px 5px rgba(0, 0, 0, 0.8);
        border-left: 5px solid $color-white;
        border-top: 5px solid $color-white;
        background-image: none;
    }
    .carousel-control-prev-icon {
        transform: rotate(-45deg);
    }
    .carousel-control-next-icon {
        transform: rotate(135deg);
    }
}

