@import '../../../styles/styles';

.app {
    .radio {
        position: relative;
        display: flex;
        align-items: center;
        line-height: 1.5;
        font-style: italic;
        &-custom {
            position: relative;
            margin-right: 5px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 2px solid $color-primary;
            &:after {
                content: "";
                position: absolute;
                top: 3px;
                left: 3px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                
            }
        }
        &-title {
            font-weight: 500;
            font-size: 14px;
            line-height: 1.71;
            color: $color-black;
        }
        &-items {
            display: flex;
            align-items: center;
        }

        input {
            &:checked {
                &+.radio-custom {
                    &:after {
                        background: $color-primary;
                    }
                }
            }
        }
        &--reverse {
            flex-direction: row-reverse;
            justify-content: flex-end;
            .radio-text {
                margin-right: 5px;
            }

        }
        &-text {
            line-height: 1;
        }
        &-label {
            font-size: 14px;
            line-height: 1.71;
        }
    }
    label.radio {
        margin: 6px 0;
    }
}