$color-primary: #8355E2;
$color-primary-shadow: rgba(132, 85, 226, 0.25);
$color-primary-2: #AC81F9;
$color-primary-hover: #7044CD;
$color-primary-hover-dark: #572AB4;
$color-lightprimary: #bca6ef;
$color-secondary: #FE6799;
$color-secondary-2: #EB5757;

$color-black: #333333;

$color-white: #ffffff;
$color-black2: #000000;

$color-grey-1: #EDEEF4;
$color-grey-2: #F6F7FB;
$color-grey-3: #C4C4C4;
$color-grey-4: #828282;
$color-grey-5: #BDBDBD;;
$color-grey-border: #DADADA;
$color-grey-dark: #666666;

$color-red: rgba(252, 61, 61, 0.8);
$color-red-opacity: rgba(252, 61, 61, 0.1);

$color-green: #00A861;

$gradient-1: radial-gradient(50% 50% at 50% 50%, #FF856E 0%, #FF6B9B 100%);
$gradient-2: linear-gradient(180deg, #8C5BF9 0%, #D5B2FA 100%);

$overlay: rgba(0, 0, 0, 0.25);
$color-black-opacity15: rgba(0, 0, 0, 0.15);