body {
    .app {
        font-size: 16px;  
        color: $color-black;      
    }
}
.hover-grey {
    &:hover {
        background: $color-grey-1;
    }
}
//typography
.primary-text {
    // font-size: 16px;
    // line-height: 1.5;
    // color: $color-black2;
}